* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4caf50; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    color: #333333;
    text-align: left;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

input:focus,
button:focus {
    outline: none;
    border-color: #4caf50;
}

.additional-options {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.register-button,
.forgot-password {
    color: #4caf50;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.register-button:hover,
.forgot-password:hover {
    color: #45a049;
}
